/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, frame, h1,
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed,
figcaption, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside ,details , figcaption,figure,footer,header,hgroup, menu, nav, body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  scroll-behavior: smooth;
}
/* mon commentaire  */
header > nav, main, footer {
   border-style: solid;
  border-width: 2px;
   border-color: rgb(220, 220, 247); 
  /* border-color: #4d4da5cc;
  border-color: #ffffff; */
  padding: 5px;
  background-color: #E6E6FA;
}

/* appel par id */
div#container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr 8fr 1fr;
}
header {
  position: fixed;
  width: 100%;
  height: 5vh;
  background-color: #E6E6FA;

}
/* appel par nom de balise */
header > nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

header > nav.mobile {
  transform: translateX(-100vw);
}

/* appel par classe */
header > nav > ul.liste {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

header > nav > i.fa-bars {
  display: none;
}

section {
  height: 900px;
  padding-top: 13vh;
  background-color: #E6E6FA;

}

img {
    width : 150px;
    height : 100px;
    }

h2{ 
    color: rgb(248, 248, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 800;
    background-color: #85409D;
    height: 30px;
    font-size: xx-large;
    padding-top: 10px;
}

    p {
        font-family: fantasy;
        color: #85409D;
        text-align: center;
        font-style: italic;
        padding-top: 10px;
        font-size: large;
    }

    a{ color: #85409D;
        font-weight: 800;
        font-style: italic;
        font-size: larger;
        
    }


.Experiences img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgb(104, 114, 255);
    display: flex;
    
  
   
}

.Experiences {
    
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;

}

.footer img {

    width: 102%;
    height: 30%;
    display: flex;
    background-color: #E6E6FA;
    justify-content: center;
 
   
}

.footer {
    height: 800px;
    padding-top: 10vh;
    background-color: #E6E6FA;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.a-propos img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px #000000;
    display: flex;
}

.a-propos {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}
.exemple {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
 
  
}
.exemple img{
  height: 250px;
  width: 500px;
}

.projets img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgb(104, 114, 255);
  display: flex;
  

 
}

.projets{
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
  padding: 10px;

}




/* media query */
@media screen and (max-width: 768px) {
  header > nav > ul.liste {
    display: none;
  }
  header > nav > i.fa-bars {
    display: block;
  }
  header > nav.open.mobile > .header-nav-mobile {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
  }

  header > nav.open.mobile {
    padding: 0 !important;
    position: fixed;
    width: 100%;
    flex-direction: column;
    background: lightgrey;
    transform: translateY(0);
    top: 0;
  }
  header > nav.open.mobile > ul.liste {
    justify-content: space-around;
    flex-direction: column;
    display: flex;
  }
}
